/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface: rgba(29, 27, 32, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface: rgba(29, 27, 32, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface: rgba(29, 27, 32, 1);
}

/* The end of the injected content. */

:root {
  --m3syslighton-surface: rgba(29, 27, 32, 1);
}
